<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>油田智云服务系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/layui.css" media="all">
    <link id="layuicss-layuiAdmin" rel="stylesheet" href="/static/admin.css" media="all">

</head>

<body layadmin-themealias="default" class="layui-layout-body">
</script>
<link rel="stylesheet" href="/static/login.css" media="all">
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>油田智云服务系统</h2>
            <h3>用户登录</h3>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                       for="LAY-user-login-username"></label>
                <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                       placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                       placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                               for="LAY-user-login-vercode"></label>
                        <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                               placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img id="img" onclick="code()" src="/imgCode"
                                 class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="LAY-user-login-submit">登录</button>
            </div>
            <div class="layui-trans layui-form-item layadmin-user-login-other">
                <label>社交账号登入</label>
                <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
                <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
                <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>
                <a href="/register" class="layadmin-user-jump-change layadmin-link">注册帐号</a>
                <!--<a lay-href="/register" class="layadmin-user-jump-change layadmin-link">注册帐号</a>-->

            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

        <p>© 2021 <a href="" target="_blank"> 云帅 版权所有</a></p>
        <p>

            <span><a href="" target="_blank">前往官网</a></span>
        </p>
    </div>

</div>
<script src="static/layui.js"></script>
<script src="static/jsencrypt.min.js"></script>
<script>
    function code() {
        document.getElementById("img").src = "/imgCode?" + Math.random();
    }

    layui.use(['form', 'layer'], function () {
        const $ = layui.$, form = layui.form
        const layer = layui.layer;
        form.render();

        let encrypt = new JSEncrypt();
        fetch("../getpublicKey").then(res => {
            if (res.ok) {
                return res.json()
            }
        }).then(res => {
            encrypt.setPublicKey(res.data.publickey);
        })


        form.on('submit(LAY-user-login-submit)', function (obj) {

            let result = encrypt.encrypt(JSON.stringify(obj.field.password));
            fetch("../login", {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                        'username': obj.field.username,
                        'password': result,
                        'code': obj.field.vercode
                    }
                )
            }).then(res => {
                    return res.json()
                }
            ).then(res => {
                if (res.code === '0') {
                    let storage = window.localStorage;
                    storage["token"] = res.data.token;
                    location.href = "/manage"
                }
                layer.msg(res.msg)
            })
            console.log(obj.field)

        });

    });
</script>
</div>


<style id="LAY_layadmin_theme">
    .layui-side-menu,
    .layadmin-pagetabs .layui-tab-title li:after,
    .layadmin-pagetabs .layui-tab-title li.layui-this:after,
    .layui-layer-admin .layui-layer-title,
    .layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
        background-color: #20222A !important;
    }

    .layui-nav-tree .layui-this,
    .layui-nav-tree .layui-this > a,
    .layui-nav-tree .layui-nav-child dd.layui-this,
    .layui-nav-tree .layui-nav-child dd.layui-this a {
        background-color: #009688 !important;
    }

    .layui-layout-admin .layui-logo {
        background-color: #20222A !important;
    }
</style>
<div class="layui-layer-move"></div>
</body>

</html>