<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>油田智云服务系统</title>
    <link rel="stylesheet" href="/static/css/layui.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- 头部区域（可配合layui已有的水平导航） -->
    <div class="layui-header">
        <div class="layui-logo">油田智云服务系统</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/index">首页</a></li>
            <li class="layui-nav-item">
                <a href="">云服务</a>
                <dl class="layui-nav-child">
                    <dd><a href="">持续部署服务</a></dd>
                    <dd><a href="">持续测试服务</a></dd>
                    <dd><a href="">地理信息服务</a></dd>
                    <dd><a href="">对象存储服务</a></dd>
                    <dd><a href="">分布式数据库</a></dd>
                    <dd><a href="">负载均衡服务</a></dd>
                    <dd><a href="">过程管理服务</a></dd>
                    <dd><a href="">数字证书服务</a></dd>
                    <dd><a href="">小机资源服务</a></dd>
                    <dd><a href="">组件安全服务</a></dd>
                    <dd><a href="">离线大数据分析服务</a></dd>
                    <dd><a href="">分布式应用程序管理服务</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/classification">个性化分类</a></li>
            <li class="layui-nav-item"><a href="https://www.cnki.net">知识库</a></li>
            <li class="layui-nav-item"><a href="">资源下载</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">开放平台</a>
                <dl class="layui-nav-child">
                    <dd><a href="">客服服务</a></dd>
                    <dd><a href="">安全云盾</a></dd>
                    <dd><a href="">代码仓库服务</a></dd>
                    <dd><a href="">大数据开发云平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/about">关于</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://i.loli.net/2019/10/29/kIxyLJwb7saud1C.jpg" class="layui-nav-img">
                    <span id="userName">&#12288;&#12288;&#12288;&#12288;</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/myinfo">基本资料</a></dd>
                    <dd><a href="/visithistory">访问历史</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a id="logout" href="javascript:;">告辞</a></li>
        </ul>
    </div>

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item "><a href="/classify">简单分类</a></li>
                <li class="layui-nav-item"><a href="/classification">文本主题模型分类</a></li>
                <li class="layui-nav-item"><a href="/userclassification">个性标签动态分类</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">云服务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/manage">云服务管理</a></dd>
                        <dd><a href="/add">添加云服务</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body">
        <!--路径-->
        <div style="margin-left: 20px; padding-bottom: 20px;">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">我的</a>
                <a><cite>个人信息</cite></a>
            </span>
        </div>

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 15px;">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>个人信息</legend>
                    </fieldset>
                    <form class="layui-form" action="" lay-filter="component-form-group" id="userform">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <div class="mx-info" id="username"></div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">原密码</label>
                            <div class="layui-input-block">
                                <div class="mx-info"> *********</div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="display: none">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="newpwd" placeholder="请输入新密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="display: none">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="confirmpwd" placeholder="请重新确认密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">常用服务</label>
                            <div class="layui-input-block" id="service-select">
                                <input type="checkbox" name="1" title="计算资源" disabled>
                                <div class="layui-unselect  layui-form-checkbox"><span>计算资源</span><i
                                        class="layui-icon layui-icon-ok"></i></div>
                                <input type="checkbox" name="2" title="存储" disabled>
                                <div class="layui-unselect layui-form-checkbox "><span>存储</span><i
                                        class="layui-icon layui-icon-ok"></i></div>
                                <input type="checkbox" name="3" title="中间件" disabled>
                                <div class="layui-unselect layui-form-checkbox"><span>中间件</span><i
                                        class="layui-icon layui-icon-ok"></i></div>
                                <input type="checkbox" name="4" title="数据库" disabled>
                                <div class="layui-unselect layui-form-checkbox"><span>数据库</span><i
                                        class="layui-icon layui-icon-ok"></i></div>
                                <input type="checkbox" name="5" title="应用" disabled>
                                <div class="layui-unselect layui-form-checkbox "><span>应用</span><i
                                        class="layui-icon layui-icon-ok"></i></div>
                                <input type="checkbox" name="6" title="大数据" disabled>
                                <div class="layui-unselect layui-form-checkbox"><span>大数据</span><i
                                        class="layui-icon layui-icon-ok"></i></div>
                                <input type="checkbox" name="7" title="安全" disabled>
                                <div class="layui-unselect layui-form-checkbox"><span>安全</span><i
                                        class="layui-icon layui-icon-ok"></i></div>
                                
                                
                            </div>
                            
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">自定义标签</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标签,使用“ , ”分隔" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">个人简介</label>
                            <div class="layui-input-block">
                                <fieldset class="layui-elem-field">
                                    <div class="layui-field-box" id="info"></div>
                                </fieldset>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn layui-btn-normal" id="edit-userinfo-button">
                                    修改用户信息
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        ©2021 油田智云服务系统
    </div>
</div>
<script src="/static/layui.js"></script>
<script src="/static/mx.js"></script>
<script src="/static/jsencrypt.min.js"></script>
<script>
    let user_form = document.getElementById('userform').innerHTML

    getUserInfo(window.localStorage['token'], (res) => {
        console.log(res)
        document.getElementById("userName").innerText = res.username
        document.getElementById("username").innerText = res.username
        document.getElementById('info').innerText = res.info

        layui.use(['form'], () => {
            let form = layui.form;
            form.val('component-form-group', res.service)
            form.render()
            setFormSelect(res.service)
        })

    })

    document.getElementById('edit-userinfo-button').onclick = (e) => {
        document.getElementById("service-select").removeEventListener("click", dontclick)
        let input = document.getElementsByClassName('layui-input-block')
        input[0].innerHTML = '<input type="text" name="username" lay-verify="title" autocomplete="off" id="nameinput"' +
            'lay-filter="nameinput"placeholder="测试用户" class="layui-input">'

        input[1].innerHTML = '<input type="password" name="password" placeholder="请输入原密码" autocomplete="off" ' +
            'class="layui-input">'

        let t = document.getElementsByClassName('layui-form-item')
        t[2].style.display = '';
        t[3].style.display = '';

        input[6].innerHTML = '<textarea placeholder="请输入一段简介" name="userinfo" class="layui-textarea"></textarea>'

        input[7].innerHTML = '<button  type="button"  lay-submit="" class="layui-btn" lay-filter="component-form-demo1">提交</button>' +
            '<button type="reset" class="layui-btn layui-btn-danger">重置</button>'

        document.querySelectorAll('#service-select input').forEach(e => {
            e.removeAttribute('disabled')
        })


        getUserInfo(window.localStorage['token'], (res) => {
            //为输入框提供未修改前的值
            layui.use(['form'], function () {
                var form = layui.form //获取form模块
                form.val('component-form-group', {
                    'username': res.username,
                    'userinfo': res.info
                })
            })
        })

    }


    layui.use(['form'], function () {
        var form = layui.form //获取form模块
        let $ = layui.$

        let encrypt = new JSEncrypt();

        fetch("../getpublicKey").then(res => {
            if (res.ok) {
                return res.json()
            }
        }).then(res => {
            encrypt.setPublicKey(res.data.publickey);
        })


        form.on('submit(component-form-demo1)', function (data) {
            console.log(JSON.stringify(data.field));
            if (data.field.confirmpwd !== data.field.newpwd) {
                layer.msg("密码输入不一致，请重新输入")
                form.val('component-form-group', {
                    'confirmpwd': '',
                    'newpwd': ''
                })
                return false
            }


            if (data.field.password == '' && data.field.confirmpwd != '') {
                layer.msg('原密码不能为空')
                return false
            }

            data.field.password = encrypt.encrypt(JSON.stringify(data.field.password));
            data.field.newpwd = encrypt.encrypt(JSON.stringify(data.field.newpwd));

            $.ajax({
                url: '/myinfo',
                type: 'post',
                dataType: 'text',
                contentType: 'application/json',
                data: JSON.stringify(data.field),

                success: function (data) {
                    mydata = JSON.parse(data);
                    console.log();
                    if (mydata.code === "1") {
                        layer.msg(mydata.msg);
                    } else {
                        layer.msg(mydata.msg);
                        location.reload()
                    }
                },
                error: function () {
                    layer.msg("提交失败，请重试");
                }
            })

            return false;
        });
    });

    window.onload = function () {

        layui.use(['form', 'upload'], function () {  //如果只加载一个模块，可以不填数组。如：layui.use('form')
            var form = layui.form //获取form模块
                , upload = layui.upload; //获取upload模块

        });
    }

    function dontclick() {
        layui.use(['element', 'layer'], function () {
            const layer = layui.layer;
            layer.msg("猪鼻别点了，先点编辑才能操作")
        })
    }


        //JavaScript代码区域
        layui.use(['element', 'layer'], function () {
            var element = layui.element;
            const layer = layui.layer;
            document.getElementById("service-select").addEventListener("click", dontclick)


            document.getElementById('logout').onclick = (e) => {
                fetch("../logout").then(res => {
                    if (res.ok) {
                        return res.json().then(data => {
                            if (data.code === "0") {
                                layer.msg("登出成功,正在跳转,倒计时<span id='confirm'>3</span>");
                                setTimeout(e => {
                                    $("#confirm").text("2");
                                    setTimeout(e => {
                                        $("#confirm").text("1");
                                        setTimeout(e => {
                                            layer.closeAll();
                                            window.location.href = "../login";
                                        }, 800)
                                    }, 800)
                                }, 800)
                                return 0
                            }
                            window.location.href = "../login";
                            layer.msg(data.msg);
                        })
                    }
                    layer.msg("服务器连接失败");
                }).catch(function (e) {
                    console.log("Oops, error");
                    window.location.href = "../login";
                })
            }
        });

        function setFormSelect(data) {
            let select = document.querySelectorAll("#service-select span")
            for (let i = 1; i < 8; i++) {
                if (data[i.toString()] === 'on') {
                    {#select[i-1].style = "background-color: #5FB878!important;"#}
                    select[i - 1].classList.add("qc")
                    select[i - 1].classList.add("lx")
                    select[i - 1].classList.add("mx-select")
                }
            }
        }

</script>

<style>
    html {
        background-color: #f2f2f2;
        color: #666;
    }

    .layui-layout-admin .layui-body {
        position: fixed;
        top: 80px;
        bottom: 44px;
    }

    .layuiadmin-card-list p.layuiadmin-big-font {
        font-size: 36px;
        color: #666;
        line-height: 36px;
        padding: 5px 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }

    .mx-info {
        height: 38px;
        line-height: 38px;
        padding-left: 10px;
    }

    .layui-col-sm6.layui-col-md3.width75 {
        width: 75%;
    }

    .qc.lx.mx-select {
        background-color: #5FB878 !important;
    }
</style>
</body>

</html>